<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
</form>

<div class="sidebar">
    <a th:href="@{/taskList}">My Tasks</a>
    <a class="active" th:href="@{/groups}">Group</a>
    <a th:href="@{/myprofile}">My Profile</a>
</div>

<div class="content">
    <div class="flex-container container__top">
        <h1> [[${group.name}]]
            <button class="content__add-button" id="addButton"><i class='fas fa-plus'></i></button>
        </h1>
        <a onclick="document.forms['logoutForm'].submit()">
            <button class="submit__button button__cancel">Logout</button>
        </a>
    </div>

    <!-- The Modal -->
    <div class="group__popup" id="popup">
        <!-- Modal content -->
        <div class="popup-content">
            <div class="popup-header">
                <span class="close">&times;</span>
                <h2>Create new task</h2>
            </div>
            <div class="popup-body">
                <form enctype="utf8" method="POST" th:action="@{/saveTask}" th:object="${taskObj}">
                    <p>Name</p>
                    <input placeholder="Task name" th:field="*{name}" type="text">
                    <p>Description</p>
                    <input placeholder="Task description" th:field="*{description}" type="text">
                    <input th:name="groupVar" th:value="${group.id}" type="hidden"/>
                    <div class="form">
                        <div class="inputGroup">
                            <input type="radio" th:id="question"th:field="*{typeEnum}" th:value="${T(org.ati.core.model.SystemConstants.TypeEnum).QUESTION}" />
                            <label th:for="question"><p th:text="Question"></p></label>
                        </div>
                        <div class="inputGroup">
                            <input type="radio" th:id="task" th:field="*{typeEnum}" th:value="${T(org.ati.core.model.SystemConstants.TypeEnum).TASK}" />
                            <label th:for="task"><p th:text="Task"></p></label>
                        </div>
                    </div>
                    <input type="datetime-local" name="validTime" id="inputDate" required/>
                    <div class="login-field__submit">
                        <button class="submit__button button__register" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="flex-container tasks">
        <div class="tasks__task" th:each="task : ${taskList}">
            <div class="login-title task--title" th:text="${task.name}"></div>
            <div class="login-field task--field">
                <div th:if="${task.voteFinished} and ${task.assignedUser} != null and ${task.typeEnum} != ${T(org.ati.core.model.SystemConstants.TypeEnum).QUESTION}">Assigned user:
                    <p th:text="${task.assignedUser.name}"></p>
                </div>
                <div th:switch="${task.statusEnum}">
                    <p th:case="${T(org.ati.core.model.SystemConstants.StatusEnum).IN_PROGRESS}">IN PROGRESS</p>
                    <p th:case="${T(org.ati.core.model.SystemConstants.StatusEnum).DONE}">DONE</p>
                </div>
                <div class="task--field--desc">Description:
                    <span class="line--break" th:text="${task.description}"></span>
                </div>
                <form th:action="@{/task/{id}(id=${task.id})}" method="GET">
                    <button class="submit__button button__register" type="submit">Redirect</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>

</body>
</html>