<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body>

<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
</form>

<div class="sidebar">
    <a th:href="@{/taskList}">My Tasks</a>
    <a href="#">Flows</a>
    <a th:href="@{/groups}">Group</a>
    <a class="active" href="#">My Profile</a>
</div>

<div class="content">
    <div class="flex-container container__top">
        <h1>MY PROFILE</h1>
        <a onclick="document.forms['logoutForm'].submit()">
            <button class="submit__button button__cancel">Logout</button>
        </a>
    </div>

    <!--########## Ne feledd, ez az egész egy form lesz submit gombbal ;) validálni se feledj majd #########-->
    <form th:action="@{/registration}">
        <table>
            <tbody>
            <tr>
                <td>Name:</td>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <td>Password</td>
            </tr>
            <tr>
                <td>
                    <input placeholder="Previous password" type="password">
                </td>
                <td>
                    <input placeholder="New password" type="password">
                </td>
                <td>
                    <input placeholder="New password again" type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <button class="submit__button button__save" type="submit">SAVE</button>
                </td>
                <td>
                    <button class="submit__button button__cancel" type="reset">RESET</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>