<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
</form>

<div class="sidebar">
    <a class="active" th:href="@{/taskList}">My Tasks</a>
    <a href="#">Flows</a>
    <a th:href="@{/groups}">Group</a>
    <a th:href="@{/myprofile}">My Profile</a>
</div>

<div class="content">
    <h1 th:text="${task.name}"></h1>

    <a onclick="document.forms['logoutForm'].submit()">Logout</a>

    <div class="flex-container tasks">
        <div class="tasks__task task__edit">
            <div class="login-field task--field task__edit">
                <div th:if="${task.voteFinished}">Assigned user:
                    <p th:text="${task.assignedUser}"></p>
                </div>
                <div th:switch="${task.statusEnum}">
                    <h3 th:case="${T(org.ati.core.model.StatusEnum).IN_PROGRESS}">IN PROGRESS</h3>
                    <h3 th:case="${T(org.ati.core.model.StatusEnum).DONE}">DONE</h3>
                </div>
                <div><h3>Description:</h3>
                    <p th:text="${task.description}"></p>
                </div>
                <form class="form" enctype="utf8" method="POST" th:action="@{/vote/{id}(id=${task.id})}">
                    <div class="inputGroup" th:each="member : ${members}">
                        <input th:id="${member.name}" th:if="${!voted}" th:name="vote" th:value="${member.id}"
                               type="radio">
                        <input th:checked="${votedFor.id} == ${member.id}" th:id="${member.name}" th:if="${voted}"
                               th:name="vote" th:value="${member.id}" type="radio">
                        <label th:for="${member.name}"><p th:text="${member.name}"></p></label>
                    </div>
                    <div class="submit__button__holder">
                        <button class="submit__button button__register button__task__submit" type="submit">Vote</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>