<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
</form>

<div class="sidebar">
    <a class="active" th:href="@{/taskList}">My Tasks</a>
    <a th:href="@{/groups}">Group</a>
    <a th:href="@{/myprofile}">My Profile</a>
</div>

<div class="content">
    <div class="flex-container container__top">
        <h1 th:text="${task.name}"></h1>
        <a onclick="document.forms['logoutForm'].submit()">
            <button class="submit__button button__cancel">Logout</button>
        </a>
    </div>

    <div class="flex-container tasks">
        <div class="tasks__task task__edit">
            <div class="login-field task--field task__edit">
                <div th:if="${task.voteFinished} and ${!notAssigned} and ${!question}">Assigned user:
                    <p th:text="${task.assignedUser.name}"></p>
                </div>
                <div th:switch="${task.statusEnum}">
                    <h3 th:case="${T(org.ati.core.model.SystemConstants.StatusEnum).IN_PROGRESS}">IN PROGRESS</h3>
                    <h3 th:case="${T(org.ati.core.model.SystemConstants.StatusEnum).DONE}">DONE</h3>
                </div>
                <div class="left"><h3>Description:</h3>
                    <p th:text="${task.description}"></p>
                </div>
                <h4 th:if="${!task.voteFinished}" class="cleared">Choose an option or create one:</h4>

                <form th:if="${!task.voteFinished}" class="form" enctype="utf8" method="POST" th:action="@{/vote/{id}(id=${task.id})}">
                    <div class="inputGroup" th:each="answer : ${optionals}">
                        <input th:id="${answer}" th:if="${!answered}" th:name="answer" th:value="${answer}"
                               type="radio">
                        <input th:checked="${userAnswered} == ${answer}" th:id="${answer}" th:if="${answered}"
                               th:name="answer" th:value="${answer}" type="radio">
                        <label th:for="${answer}"><p th:text="${answer}"></p></label>
                    </div>
                    <input th:name="newAnswer" placeholder="New option" type="text">
                    <div class="submit__button__holder">
                        <button class="submit__button button__register button__task__submit" type="submit">Vote</button>
                    </div>
                </form>
                <form th:if="${task.voteFinished} and ${notAssigned} and ${!question} and ${task.statusEnum} == ${T(org.ati.core.model.SystemConstants.StatusEnum).IN_PROGRESS}"
                      class="form" enctype="utf8" method="POST" th:action="@{/assign/{id}(id=${task.id})}">
                    <div class="submit__button__holder">
                        <button class="submit__button button__register button__task__submit" type="submit">Assign to me!</button>
                    </div>
                </form>
                <form th:if="${task.voteFinished} and ${isAssignedUser} and ${!question} and ${task.statusEnum} == ${T(org.ati.core.model.SystemConstants.StatusEnum).IN_PROGRESS}"
                      class="form" enctype="utf8" method="POST" th:action="@{/finish/{id}(id=${task.id})}">
                    <div class="submit__button__holder">
                        <button class="submit__button button__register button__task__submit" type="submit">Finish</button>
                    </div>
                </form>
                <div  class="container">
                    <div class="be-comment-block">
                        <form th:if="${task.voteFinished}" class="form" enctype="utf8" >
                            <div class="inputGroup" th:each="answer : ${optionals}">
                                <input th:checked="${winnerAnswer} == ${answer}"
                                       th:name="answer" disabled type="radio">
                                <label th:for="${answer}"><p th:text="${answer}"></p></label>
                            </div>
                        </form>
                        <div th:each="comment : ${task.comments}" class="be-comment">
                            <div class="be-comment-content">
                                <span class="be-comment-name">
                                    <div th:text="${comment.commentedBy.username}" ></div>
                                </span>
                                <span class="be-comment-time">
                                    <i class="fa fa-clock-o"></i>
                                    <span th:text="${comment.date}"></span>
                                </span>
                                <p class="be-comment-text" th:text="${comment.message}"></p>
                            </div>
                        </div>

                        <form class="form-block" enctype="utf8" method="POST" th:action="@{/comment/{id}(id=${task.id})}">
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="form-group form-group-spec">
                                        <textarea class="form-input" required="" th:name="comment" placeholder="Your text"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>